.message-wrapper {
  margin-top: 5px;
  padding: 0px 5px;
}

.message-wrapper p {
  padding: 10px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  border-radius: 18.31px;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 2em;
}

.message-wrapper .me {
  background-color: #242F9B;
  color: #fff;
}

.message-wrapper .friend {
  background-color: #00DDC6;
  color: #fff;
}

.message-wrapper.own {
  text-align: right;
}
