.topbar {
  background-color: white !important;
  position: absolute;
}
.bildirimDiv{
  margin-right: 25px;
  display: flex;
  align-items: center;
}
.bildirimSayı{
  color: black;
  margin-bottom: 25px;
  font-weight: bold;





}
.bildirim{
  color: darkblue;
}

.topbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  height: 80px;
}

.topbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-img {
  margin-left: 25px;
}
